@using System.Security.Claims;


@{
    ViewData["Title"] = "Página de Inicio";
}
<div class ="text-center">
    <h1 class="display-4">Recepcion de equipos en proceso </h1>

</div>

@model List<Recepcionequipo> // Asegúrate de que el modelo coincida con el tipo de datos que estás pasando desde el controlador

<h2>Recepción de Equipos en Proceso</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre y Apellido del Cliente</th>
            <th>Correo Electrónico del Cliente</th>
            <th>Fecha Recepción de Equipo</th>
            <th>Marca de PC</th>
            <th>Modelo PC</th>
            <th>Nombre del Servicio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model)
        {
            <tr>
                <td>@($"{equipo.IdClienteNavigation.Nombre} {equipo.IdClienteNavigation.Apellido}")</td>
                <td>@equipo.IdClienteNavigation.Correo</td>
                <td>@equipo.Fecha</td>
                <td>@equipo.MarcaPc</td>
                <td>@equipo.ModeloPc</td>
                <td>@equipo.IdServicioNavigation.Nombre</td>
                <td>
                    <a asp-controller="Cliente" asp-action="Detalle" asp-route-id="@equipo.IdCliente">Detalle Cliente</a> |
                    <a asp-controller="Servicio" asp-action="Detalle" asp-route-id="@equipo.IdServicio">Detalle Servicio</a> |
                    <a asp-controller="RecepcionEquipo" asp-action="Detalle" asp-route-id="@equipo.Id">Ver Recepción Equipo</a>
                </td>
            </tr>
        }
    </tbody>
</table>


        






};


