@model MercDevs_ej2.Models.Diagnosticosolucion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diagnosticosolucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionDiagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDiagnostico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionSolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionSolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatosFichaTecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatosFichaTecnica.IdDatosFichaTecnica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDiagnosticoSolucion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
